body{
 margin: 0; 
 padding: 0;
 background: rgb(255, 235, 205); 
background: linear-gradient(90deg, rgba(255, 235, 205, 1) 0%, rgba(252,176,69,1) 100%);
color: #333;
font-family: 'Roboto', sans-serif; 
font-size: 16px;
line-height: 1.5;
}
#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}